}
n
*.pyc
*~
__pychache__

#Env
.env
myvenv/
venv/

# DAtabase
db.sqlite3

#Static folder at project root
/static/

# macOS

._*
.DS_Store
.fseventsd
.Spotlight-V100

#Windows
Thumbs.db*
ethumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Visual Studio
.vscode/
.history/
*.code-workspace



